article,
.article {
  display: block;
  position: relative;

  --heading-line-height: 1.1;
  --body-line-height: 1.4;

  .main_image{
    position: relative;
    display: block;
  }

  .tags {
    margin-bottom: 8px;
  }
}
